$primary-color: #bbdad6;

  ion-card {
    margin: auto;
    margin-top: 2%;
    // width: 50%;

    ion-input {
      border-bottom: solid;
    }

    ion-textarea{
      font-size: large;
      border-bottom: solid;
      border-color: $primary-color;
    }
  }

  ion-card-title{
    color:$primary-color;
  }


  ion-item {
    border-bottom: solid;
  }

  #entryMeta{
    ion-input{
      border-color: $primary-color;
    }

    ion-item {
      border-color: $primary-color;
    }
    padding-top: 2%;
    text-align: center;
  
  
  }


  #streakCounter{
      font-size: 300%;
      color: $primary-color;
      text-align: center;
    }
    
  #pastEntryTitle{
    color: $primary-color;

    ion-item {
      border-color: $primary-color;
    }
  }

  #pastEntryBody {
    padding-bottom: 15%;

    color: $primary-color;

    ion-item {
      border-color: $primary-color;
    }
  }

  #prompt{
    color:$primary-color;
  }

