$primary-color: #bbdad6;

  ion-card {
    margin: auto;
    margin-top: 2%;
    // width: 50%;

    ion-input {
      border-bottom: solid;
    }

    ion-textarea{
      font-size: large;
      border-bottom: solid;
      border-color: $primary-color;
    }
  }


  ion-item {
    border-bottom: solid;
  }

  #entryMetaLeft{
    ion-input{
      border-color: $primary-color;
    }
  }

  #entryMetaRight {
    padding-top: 2%;
    text-align: center;


    #streakCounter{
      font-size: 300%;
      color: $primary-color;
    }
  }
