
        <ion-card>
            <form #entryForm="ngForm" (ngSubmit)="submitEntryForm(entryForm)">

            <ion-card-header>
              <ion-card-title>
                <h1>
                  {{username}}'s {{name}}
                </h1>
              </ion-card-title>
              <ion-card-subtitle>
                <hr>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>

              <ion-grid>

                <ion-row id="entryMeta">
                  <ion-col >
                    <h1>Entry Date:</h1>
                    <h2>{{entryDate}}</h2>
                  </ion-col>
                  <ion-col>
                    <h1>Streak:</h1>
                    <h1 id="streakCounter">{{streak}}</h1>
                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col>
                    <h1>Title: </h1>
                    <ion-input  id="entryTitle"
                                type="text" 
                                placeholder=" > {{username}}'s Entry for {{entryDate}}" 
                                name="entryTitle"
                                ngModel
                                required
                                *ngIf="name === 'Daily Entry'">
                    </ion-input>
                    <ion-item *ngIf="name !== 'Daily Entry'" id="pastEntryTitle">
                      {{entryTitle}}
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col id="prompt">
                    <br>
                    <h1>{{prompt}}</h1>
                  </ion-col>
                </ion-row>
                
                <ion-row>
                  <ion-col>
                    <ion-textarea placeholder=" > Today's Entry" 
                                  inputmode="text" 
                                  spellcheck="true" 
                                  maxlength="500"
                                  autogrow="true" 
                                  rows="8" 
                                  name="entryBody" 
                                  ngModel 
                                  required
                                  *ngIf="name === 'Daily Entry'">
                    </ion-textarea>
                    <ion-item *ngIf="name !== 'Daily Entry'" id="pastEntryBody">
                      {{entryBody}}
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-card-content>

            <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="name === 'Daily Entry'">
              <ion-fab-button [disabled]="!entryForm.valid">
                <ion-icon name="caret-up-outline"></ion-icon>
              </ion-fab-button>
        
              <ion-fab-list side="{{btn.side}}" *ngFor="let btn of getActiveFabs()" >
                <ion-button  type="{{btn.type}}" color="medium">
                  <ion-icon size="large" name="{{btn.iconName}}" color="{{btn.color}}"></ion-icon>
                <!-- <ion-fab-button *ngFor="let btn of getActiveFabs()" (click)="btn.action()" type="{{btn.type}}"> -->
                </ion-button>
              </ion-fab-list>
            </ion-fab>

            <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="name !== 'Daily Entry'">
              <ion-fab-button color="secondary" size="small" (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            </form>
          </ion-card>
        
